ClientForAuthenticationAndAuthorization/Connected Services/ExecuteOperationsServiceReference/ExecuteOperationsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SumOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="multiplier" type="xs:int" />
        <xs:element minOccurs="0" name="multiplicand" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumOperationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>