ClientForAuthenticationAndAuthorization/Connected Services/ExecuteOperationsServiceReference/ExecuteOperationsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExecuteOperationsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8046/ExecuteOperationsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8046/ExecuteOperationsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExecuteOperationsService_SumOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOperation" />
  </wsdl:message>
  <wsdl:message name="IExecuteOperationsService_SumOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteOperationsService_ReadOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadOperation" />
  </wsdl:message>
  <wsdl:message name="IExecuteOperationsService_ReadOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteOperationsService_WriteOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteOperation" />
  </wsdl:message>
  <wsdl:message name="IExecuteOperationsService_WriteOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IExecuteOperationsService">
    <wsdl:operation name="SumOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteOperationsService/SumOperation" message="tns:IExecuteOperationsService_SumOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteOperationsService/SumOperationResponse" message="tns:IExecuteOperationsService_SumOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteOperationsService/ReadOperation" message="tns:IExecuteOperationsService_ReadOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteOperationsService/ReadOperationResponse" message="tns:IExecuteOperationsService_ReadOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IExecuteOperationsService/WriteOperation" message="tns:IExecuteOperationsService_WriteOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExecuteOperationsService/WriteOperationResponse" message="tns:IExecuteOperationsService_WriteOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExecuteOperationsService" type="tns:IExecuteOperationsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SumOperation">
      <soap:operation soapAction="http://tempuri.org/IExecuteOperationsService/SumOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadOperation">
      <soap:operation soapAction="http://tempuri.org/IExecuteOperationsService/ReadOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOperation">
      <soap:operation soapAction="http://tempuri.org/IExecuteOperationsService/WriteOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExecuteOperationsService">
    <wsdl:port name="BasicHttpBinding_IExecuteOperationsService" binding="tns:BasicHttpBinding_IExecuteOperationsService">
      <soap:address location="http://localhost:8046/ExecuteOperationsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>